<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
</html>
<body>
    <nav th:replace="fragments.html :: navbar"></nav>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-6">
                <h1 class="text-center"><em><strong>foodgram</strong></em></h1>
                <p class="lead text-center">
                    <em>foodgram</em>으로 자신만의 장소를 추가하고 친구들과 공유해보세요.
                </p>
                <hr class="my-2">

                <p class="lead text-center">
                    <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                    나의 지도
                </p>

                <p class="lead text-center">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    장소 추가하기
                </p>

                <p class="lead text-center">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    사용자 메뉴
                </p>


            </div>
        </div>
    </div>

    <footer th:replace="fragments.html :: footer"></footer>
</body>
</html>