<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body>
    <nav th:replace="fragments.html :: navbar"></nav>

    <!-- 목록 출력 영역 -->
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>게시글 번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>최종수정일</th>
        </tr>
        </thead>
        <tbody id="tbody">
        <tr th:each="post: ${post}">
            <td th:text="${post.id}"></td>
            <td> <a th:href="@{'/post/update/' + ${post.id}}" th:text="${post.title}"></a></td>
            <td th:text="${post.author}"></td>
            <td th:text="${post.modifiedDate}"></td>
        </tr>
        </tbody>
    </table>

    <footer th:replace="fragments.html :: footer"></footer>
</body>
</html>