<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: mapHead"></head>
<body>
    <nav th:replace="fragments.html :: navbar"></nav>

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-6">
                <form id="mapForm" th:action="@{/mapForm}" th:object="${mapForm}" th:method="post">
                    <div class="form-group">
                        <label for="title">장소 이름</label>
                        <input type="text" id="title" class="form-control" name="title" th:value="${title}">
                    </div>
                    <div class="form-group">
                        <label for="content">지역</label>
                        <input type="text" id="content" class="form-control" name="content" th:value="${content}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="date">현재 날짜</label>
                        <input type="text" id="date" class="form-control" name="date" th:value="${date}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="lat">위도</label>
                        <input type="text" id="lat" class="form-control" name="lat" th:value="${lat}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="lng">경도</label>
                        <input type="text" id="lng" class="form-control" name="lng" th:value="${lng}" readonly>
                    </div>
                    <button id="submit_button" class="btn btn-primary float-sm-right">추가</button>
                </form>
            </div>
        </div>
    </div>

    <footer th:replace="fragments.html :: footer"></footer>


</body>
</html>