<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<html th:replace="fragments.html :: mapHead"></html>
<body>
    <nav th:replace="fragments.html :: navbar"></nav>

<!--    <div id="infoBox">-->
<!--        <div id="infoTitle">현재 날짜</div>-->
<!--        <div id="infoContent">2020.09.13</div>-->
<!--    </div>-->
    <div class="container-fluid">
        <div id="search">
            <input id="search_input" placeholder="목적지를 입력해주세요"/>
            <button id="search_button">검색</button>
        </div>

        <div id="current">현재 위치</div>

        <div id="map" style="width:100%;height:100vh;"></div>
    </div>


    <script th:inline="javascript">
        /*<![CDATA[*/
        var mapList = /*[[${mapList}]]*/ [];
        /*]]>*/
    </script>

    <script>
        var mapOptions = {
            center: new naver.maps.LatLng(37.3595704, 127.105399),
            zoom: 10
        };
        var map = new naver.maps.Map('map', mapOptions);

        var markerList = [];
        var infowindowList = [];

        // mapList에서 저장된 marker 가져오기
        for (var i in mapList) {
            var target = mapList[i];
            var latlng = new naver.maps.LatLng(target.lat, target.lng);
            marker = new naver.maps.Marker({
                map: map,
                position: latlng,
                icon: {
                    content: "<div class='marker'></div>",
                    anchor: new naver.maps.Point(12, 12)
                },
            });

            var content = `<div class='infowindow_wrap'>
            <div class='infowindow_title'>${target.title}</div>
            <div class='infowindow_content'>${target.content}</div>
            <div class='infowindow_date'>${target.date}</div>
            <div class="row center-block">
                <a class="btn btn-primary" href="/modifyForm?id=${target.id}">수정</a>
                <div class="btn btn-danger">삭제</div>
            </div>
              </div>`

            var infowindow = new naver.maps.InfoWindow({
                content: content,
                backgroundColor: "#00ff0000",
                borderColor: "00ff0000",
                anchorSize: new naver.maps.Size(0, 0)
            })

            markerList.push(marker);
            infowindowList.push(infowindow);
        }

        for (var i = 0, ii = markerList.length; i < ii; i++) {
            // 맵을 클릭하면 ClickMap() 실행
            naver.maps.Event.addListener(map, "click", ClickMap(i));
            // marker를 클릭하면 getClickHandler() 실행
            naver.maps.Event.addListener(markerList[i], "click", getClickHandler(i));
        }

        // map 클릭 시 해당 marker가 열어 놓은 infowindow를 찾아서 닫아줌
        function ClickMap(i) {
            return function () {
                var infowindow = infowindowList[i];
                infowindow.close();
            }
        }

        // marker 클릭
        function getClickHandler(i) {
            return function () {
                var marker = markerList[i];
                var infowindow = infowindowList[i];
                // marker가 열려 있다면
                if (infowindow.getMap()) {
                    infowindow.close();
                    // marker가 닫혀 있다면
                } else {
                    infowindow.open(map, marker);
                }
            }
        }

        // currentMarker 1회만 사용 제한할 변수
        let currentUse = true;

        // 현재 위치 클릭
        $('#current').click(() => {
            if ('geolocation' in navigator) {
                // 현재 위치 가져오기
                navigator.geolocation.getCurrentPosition(function (position) {
                    const lat = position.coords.latitude;
                    const lng = position.coords.longitude;
                    // 현재 위치 표시 marker
                    const latlng = new naver.maps.LatLng(lat, lng);
                    // currentMarker는 최초 1회만 사용
                    if (currentUse) {
                        marker = new naver.maps.Marker({
                            map: map,
                            position: latlng,
                            icon: {
                                content: '<img class="pulse" draggable="false" unselectable="on" src="/images/circle.png">',
                                anchor: new naver.maps.Point(11, 11),
                            }
                        });
                        currentUse = false;
                    }

                    // zoom
                    map.setZoom(14, false);
                    map.panTo(latlng);
                });
            } else {
                alert("위치 정보 사용 불가능");
            }
        });

        // 목적지 검색 kakao api
        let ps = new kakao.maps.services.Places();
        let search_arr = [];

        // 목적지 검색 트리거 > kakao api 요청 (Enter keydown)
        $("#search_input").on("keydown", function (e) {
            if (e.keyCode === 13) {
                let content = $(this).val();
                // content로 api 요청, 결과물 > placeSearchCB()를 통해 저장
                ps.keywordSearch(content, placeSearchCB)
            }
        });

        // 목적지 검색 트리거 > kakao api 요청 (검색 click)
        $("#search_button").on("click", function (e) {
            let content = $("#search_input").val();
            // content로 api 요청, 결과물 > placeSearchCB()를 통해 저장
            ps.keywordSearch(content, placeSearchCB)
        })


        // data > 결과, status > kakao 서버 상태, pagination 검색 결과가 얼마나 있는 지 번호를 통해 앎
        function placeSearchCB(data, status, pagination) {``
            if (status === kakao.maps.services.Status.OK) {
                let target = data[0];
                // let target = data;
                // 데이터 배열 확인
                // console.log(target);
                const lat = target.y;
                const lng = target.x;
                const latlng = new naver.maps.LatLng(lat, lng);
                marker = new naver.maps.Marker({
                    position: latlng,
                    map: map,
                })
                if (search_arr.length == 0) {
                    search_arr.push(marker);
                    // 이전 검색 결과 삭제
                } else {
                    search_arr.push(marker);
                    let pre_marker = search_arr.splice(0, 1);
                    pre_marker[0].setMap(null);
                }
                // 목적지 zoom
                map.setZoom(14, false);
                map.panTo(latlng);

            } else {
                alert("검색 결과가 없습니다.");
            }
        }
    </script>
    <footer th:replace="fragments.html :: footer"></footer>
</body>
</html>